# Configurações do Banco de Dados
DB_URL=jdbc:postgresql://localhost:5432/pontoeletronico
DB_USERNAME=seu_usuario_db
DB_PASSWORD=sua_senha_db

# Configurações JWT
JWT_SECRET=sua_chave_secreta_jwt_aqui

# Configurações do Usuário Administrador
ADMIN_NOME=nome do admin
ADMIN_EMAIL=email@dev.com
ADMIN_SENHA=password123
ADMIN_CPF=000.000.000-01

